body {
    font-family: sans-serif;
    background-color: #EAEAEA;
}

h1 {
    background-image: linear-gradient(#70D6EC);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
    margin-block-start: 0.67px;
    margin-block-end: 0.67px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



header {
    background-image: linear-gradient(#70D6EC, rgb(253, 253, 253));
    padding: 20px;
    height: 60px;
    display: flex;
    text-align: center;
    z-index: 1; 
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    box-shadow: rgb(207, 206, 206);
}


headeor img{
    height: 150%;
    width:  120%;
    border-radius: 0px;
}

.logo{
    float: left;
    width: 10px;
}


.button__primary{
    border: 1px solid var(--orange);
    background-image: linear-gradient(#0971d3, white);
    width: 160px;
    height: 40px;
    color: #000000;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    padding-right: 20px;
}


.mobile-header .navbar-inverse .navbar-nav > li > a {
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-image: linear-gradient(to right, white);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    justify-content: flex-end;
}

a {
    font-size: 15px;
    color: blue;
}

a:hover {
    color: rgb(0, 0, 0);
    
}

main{
  position: relative;
  top: 100px;
  left: 0px;
  z-index: 0px; 
}

nav {
    color: #000;
}

.w-nav {
    z-index: 1000;
    background-color: black;
    position: absolute;
}
* {
    box-sizing: border-box;
}

.nav__link.phone_hide {
    display: none;
}

.nav__link {
    margin-bottom: 10px;
}
.nav__link {
    color: #000;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
    transition: opacity .3s;
}
.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
a {
    background-color: rgba(0, 0, 0, 0);
}
* {
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer; 
}

.button__primary.header {
    box-shadow: none;
    flex: none;
    margin-left: auto;
    padding: 20px;
}


.button__primary{
    border: 1px solid var(--orange);
    color: orange;
    background-color: orangered;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
}

.button__primary:hover {
    background-image: linear-gradient(rgb(251, 255, 25), blue);
}

.mobile-header .navbar-inverse .navbar-nav > li > a {
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-image: linear-gradient(to right, white);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    justify-content: flex-end;
}

a {
    font-size: 15px;
    color: blue;
}

a:hover {
    color: rgb(0, 0, 0);
    
}

main{
  position: relative;
  top: 100px;
  left: 0px;
  z-index: 0px; 
}

nav {
    color: #000;
}

.w-nav {
    z-index: 1000;
    background-color: black;
    position: absolute;
}
* {
    box-sizing: border-box;
}

.nav__link.phone_hide {
    display: none;
}

.nav__link {
    margin-bottom: 10px;
}
.nav__link {
    color: #000;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
    transition: opacity .3s;
}
.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
a {
    background-color: rgba(0, 0, 0, 0);
}
* {
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer; 
}

.button__primary.header {
    box-shadow: none;
    flex: none;
    margin-left: auto;
    padding: 20px;
}


.button__primary{
    border: 1px solid var(--orange);
    color: orange;
    background-color: orangered;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
}

h2 {
    color: green;
    font-size: 15px;
    padding-right: 150px;
}

.principles {
    display: flex;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    justify-content: space-between; 
    width: 700px;
    margin: 0 30px;
    padding: 30px;
    text-align: center;
}

.principle {
    width: 220px;
}

.slogan {
    display: flex;
    padding: 30px;
    color: #000000;
    margin-left: 150px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1000px;
    margin: 50 30px;
    background-color: lightblue;
}

.product {
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 1px double orange;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: bisque;
}

.catalog a {
    text-decoration: none;
    border-bottom: 1px dotted black;
    font-size: 14px;
    color: black;
}

.product {
    width: 300px;
    text-align: center;
    padding: 5px;
    border: 5px double orange;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: bisque;
}

article {
    background-color: white;
    padding: ;
    width: 200px;
    margin: 0px;
}

.article-but {
    text-decoration: none;
    background-color: rgb(7, 80, 25);
    color: black;
    font-size: 19px;
    text-align: center;
    padding: 10px 55px 10px 40px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 30px;
    background-color: #FFFFFF;
}

.product {
    width: 150px;
    text-align: center;
    padding: 5px;
    border: 1px double gray;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(235, 230, 223);
}

.gallery img {
    border-radius: 55px;
    height: 60px;
    width: 60px;
}

.main-teachers__box-title {
    position: relative;
    color: #111111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.444;
    margin-bottom: 5px;
}

.main-teachers__box-text {
    position: relative;
    max-height: 90px;
    max-width: 240px;
    font-size: 14px;
    line-height: 1.357;
    margin: 0 auto 10px;
    overflow: hidden;
}

.main-teachers__box-button {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.main-teachers__box-button {
    position: relative;
    text-align: left;
    margin-top: auto;
    z-index: 1;
}


h4{
    font-size: 17px;
    font-family: cursive;
}

h5{
    font-size: 20px;
    font-family: cursive;
    padding-left: 590px;
}

.button:hover{
    background-color: green;
    transition: 0.4;
}

button {
    background-color: #e9e06c;
    color: black;
    border:none;
}

footer {
    background-image: linear-gradient(#0971d3, white);
    padding: 10px;
    margin-top: 20px;
}

footer p {
    background-color: white;
    padding: 5px;
    text-align: center;
 }
